:root{
    --light-background: #fff;
    --light-text-color: #000;

    --dark-background: #000;
    --dark-text-color: #fff;
    --dark-highlight-color: #292424;
    

    --max-width: 1400px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-background);
}

.form-container {
    color: var(--text-color);
    
    display: flex;
    align-items: center;

}

.container {
    
    color: var(--text-color);
    max-width: var(--max-width);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.function-buttons {
    text-align: center;
    padding-top: 0.6em;
}

.dark-mode {
    background-color: var(--dark-background);
}
.dark-mode div {
    color: var(--dark-text-color);
}
.dark-mode button {
    color: var(--dark-text-color);
    background-color: var(--dark-background);
    border-color: var(--dark-highlight-color);
}