:root{
    --background-dark: #1f1b1b;
    --text-color: #fff;

    --max-width: 1400px;
}

body {
    background-color: var(--background-dark);
}

.form-container {
    color: var(--text-color);
    
    display: flex;
    align-items: center;

}

.container {
    
    color: var(--text-color);
    max-width: var(--max-width);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

